@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

body {
  color: #fff;
  background-color: rgb(0, 0, 0);
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topBar {
  display: inline-block;
  background-color: rgb(0, 0, 0);
  text-align: center;
  color: white;
  width: 98.5%;
  padding: 10px;
}

.inputBox {
  width: 355px;
  margin-left: 25px;
  margin-top: 45px;
  font-size: 17px;
  padding: 1rem;
  height: 20px;
  outline: none;
  background: none;
  border: none;
  color: white;
  border-bottom: #3fcbf6 solid 3px;
  background-color: rgba(35, 35, 35, 0.639);
}

.infoText {
  margin-left: 25px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.topText{
  color: #fff;
}

.btn {
  padding: 17.5px 24px;
  color: #3fcbf6;
  font-size: 19px;
  background-color: #302f2f;
  text-decoration: none;
  transition: 0.5s;
  letter-spacing: 2px;
  border: none;
  border-radius: 5px;
  margin: 24px;
  margin-left: 119px;
  cursor: pointer;
}

.btn:hover {
  background: #3fcbf6;
  color: #302f2f;
  box-shadow: 0 0 5px #3fcbf6, 0 0 25px #3fcbf6, 0 0 50px #3fcbf6,
    0 0 100px #3fcbf6;
}

body footer {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 15px;
}
